* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

button {
    border: none;
}

.header.section {
    background-color: #1F2937;

    display: flex;
    justify-content: space-between;
    padding: 32px 15%;
}

.header .logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.header .links {
    display: flex;
}

.links li {
    margin: 0 16px;
}

.hero.section {
    background-color: #1F2937;
    padding: 108px 15%;
    display: flex;
}

.hero .content {
    flex-grow: 1;
}

.hero .header {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero .message {
    color: #E5E7EB;
    font-size: 18px;
}

.hero .placeholder {
    background-color: darkgray;
    color: white;
    flex-grow: 1;
}

.button {
    background-color: #3882F6;
    color: white;
}

.info.section {
    padding: 54px 15%;
    padding-bottom: 108px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info .header {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 54px;
}

.info .cards {
    display: flex;
}

.info .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
    margin: 0 16px;
}

.info .placeholder {
    border: 4px solid #3882F6;
    border-radius: 10%;
    height: 150px;
    min-width: 150px;
}

.info .message {
    text-align: center;
    color: #808285;
    font-weight: 400;
}


.quote.section {
    background-color: #E5E7EB;
    padding: 72px 15%;
    display: flex;
}

.quote .message {
    font-style: italic;
    color: #1F2937;
    weight: 300;
}

.quote .author {
    font-weight: 900;
}

.action.section {
    padding: 72px 15%;
}

.action .container {
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    padding: 54px 15%
}

.action .header {
    color: white;
    font-weight: 900;
}

.action .message {
    color: white;
}

.action .button {
    border: 2px solid white;
}

.footer.section {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    padding: 72px 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
